.form-container {
  width: 100%;
  padding: 0 1.5rem 1.5rem;

  form {
    width: 100%;

    .form-heading {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      background: #e84d84;
      height: 27px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-radius: 10px 10px 0 0;
    }

    .form-content {
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: white;
      border-radius: 0 0 10px 10px;

      .each-field {
        display: flex;
        flex-direction: column;
        gap: 11px;
        width: 100%;

        .each-field-name {
          font-size: 12.8px;
          font-weight: 500;
          color: #505050;
        }

        .each-field-input {
          width: 100%;
          border-radius: 4px;
          border: 1px solid #d9d9d9;
          padding: 7px 12px 9px;

          input {
            border: none;
            min-width: 100%;
            color: #bfbfbf;
            font-size: 13.56px;
          }
        }

        .each-field-input-arrow {
          width: 100%;
          border-radius: 4px;
          border: 1px solid #d9d9d9;
          padding: 7px 12px 9px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .placeholder-div {
            border: none;
            min-width: 80%;
            color: #bfbfbf;
            font-size: 13.56px;
          }
        }
      }

      .each-field-input-partition {
        display: flex;
        gap: 11px;
        width: 100%;

        .each-left-field-input {
          width: 60px;
          border-radius: 4px;
          border: 1px solid #d9d9d9;
          display: flex;
          padding: 3px 0;
          align-items: center;
          justify-content: space-around;
          height: min-content;

          input {
            border: none;
            color: #bfbfbf;
            font-size: 13.56px;
            max-width: 50%;
          }

          .arrow-img {
            display: flex;
          }
        }

        .each-right-field-input {
          width: calc(100% - 71px);
          border-radius: 4px;
          border: 1px solid #d9d9d9;
          padding: 7px 12px 9px;

          input {
            border: none;
            color: #bfbfbf;
            font-size: 13.56px;
          }
        }
      }

      .submit-btn-container {
        width: 100%;
        padding-top: 10px;

        button {
          height: 36px;
          width: 100%;
          border: none;
          border-radius: 4px;
          color: white;
          font-weight: 600;
          text-align: center;
          font-size: 14px;
          background: linear-gradient(to right, #F56563, #E54988);
        }
      }
    }
  }
}
